<div class="login">
  <div class="formContainer">
    <img src="../assets/images/logo_yard_sale.svg" alt="" class="logo" />
    <h1 class="title titleAcount">Mi Cuenta</h1>
    <form #myForm="ngForm" (ngSubmit)="onRegister()" class="form formLogin">
      <label for="name" class="label">Nombre</label>
      <input
        type="text"
        placeholder="Mi nombre"
        name="name"
        id="name"
        #name="ngModel"
        class="input inputName"
        [(ngModel)]="form.name"
        required
      />
      <p>Mensaje de error</p>
      <label for="user" class="label">Email</label>
      <input
        type="email"
        placeholder="micorreo@gmail.com"
        name="email"
        id="email"
        #email="ngModel"
        class="input inputEmail"
        [(ngModel)]="form.email"
        required
      />
      <p>Mensaje de error</p>
      <label for="password" class="label">Contraseña</label>
      <input
        type="password"
        placeholder="************"
        name="password"
        id="password"
        #password="ngModel"
        class="input inputPassword"
        [(ngModel)]="form.password"
        required
      />
      <p>Mensaje de error {{ myForm.invalid }}</p>
      <button type="submit" [disabled]="myForm.invalid">Crear</button>
      <!-- <input  value="Crear" /> -->
    </form>
  </div>
</div>

<h1>ngclass-ngstyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr
  class="lineError"
  [ngClass]="{
    valid: nameInput4.valid,
    invalid: nameInput4.invalid
  }"
/>
<h1>Class & styles</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="messageError" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<hr />
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">
  Texto my text
</p>

<div class="container">
  <div>
    <input type="number" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img
      [style.width.px]="widthImg"
      [src]="img.src"
      [alt]="img.alt"
      srcset=""
    />
  </div>
</div>

<h1>NGSwitch</h1>
<input type="text" [(ngModel)]="person.name" />
<span [ngSwitch]="person.name">
  <p *ngSwitchCase="'josseline'">HOLA JOSSELINE</p>
  <p *ngSwitchCase="'eduardito'">HOLA EDUARDITO</p>
  <p *ngSwitchDefault>No encontrado</p>
</span>
<hr />
<h1>NGFOR</h1>
<div class="productsGrid">
  <div *ngFor="let p of products">
    <img
      [src]="p.image.name"
      [alt]="p.name"
      srcset=""
      [width]="p.image.width"
    />
    <h4>{{ p.name }}</h4>
    <p>{{ p.price | currency }}</p>
    <p *ngIf="p.category">{{ p.category }}</p>
    <hr />
  </div>
</div>

<input type="text" required [(ngModel)]="newName" />
<button (click)="addNames()">Añadir</button>
<ul>
  <ng-container *ngIf="names.length > 0; else elseTemplateName">
    <li *ngFor="let n of names; index as i">
      {{ i + 1 }}.- {{ n }} <button (click)="deleteName(i)">Eliminar</button>
    </li>
  </ng-container>
  <ng-template #elseTemplateName>
    <li>No hay nombres ingresados</li>
  </ng-template>
</ul>
<h1>NGIF</h1>
<p *ngIf="person.name === 'jossy'">Soy Jossy</p>
<ng-container
  *ngIf="person.name === 'josseline' && person.age === 18; else elseTemplate"
>
  Soy {{ person.name }} y tengo {{ person.age }} años
</ng-container>
<ng-template #elseTemplate> No cumple con la info requerida </ng-template>
<h1>NGMODEL</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<input
  type="number"
  max="18"
  min="10"
  required
  #ageInput="ngModel"
  [(ngModel)]="person.age"
/>
<p>Valid: {{ nameInput.valid }} - {{ ageInput.valid }}</p>
<p>New Name: {{ person.name }}</p>
<hr />

<progress max="100" [value]="person.age"></progress>
<img [src]="img.src" [alt]="img.alt" [width]="img.with" srcset="" />
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<p>New Name: {{ person.name }}</p>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toogleButton()">Toogle Button</button>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro itaque
    beatae dicta a minima aperiam nostrum aspernatur earum voluptates sapiente
    vel perspiciatis nesciunt ipsa, adipisci iure pariatur repellat ipsum?
  </p>
</div>
